fastapi==0.119.0
uvicorn==0.37.0
pydicom==3.0.1
opencv-python==4.12.0.88
numpy==2.2.0
pillow==12.0.0
sqlalchemy==2.0.44
python-multipart==0.0.20
pydantic==2.12.2
scipy
matplotlib
beautifulsoup4==4.12.3
